<div class="jumbotron text-center mainBox">
    <p>Name: {{companyList[(companyList.length-1)].name}}</p>
    <p>Adress: {{companyList[(companyList.length-1)].city}} {{companyList[(companyList.length-1)].cityCode}}</p>
    <p>Phone: {{companyList[(companyList.length-1)].phoneNumber}}</p>    
    <p>Email: {{companyList[(companyList.length-1)].emailAdress}}</p>

    <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
    <!-- Button to Open the Modal -->
    <br/>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Edit data
    </button>
</div>

  <!-- The Modal modal-sm  -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content col-md-12">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit Company</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <form #form = "ngForm">
                <div class="mainBox">
                    <div class="col-md-8 centerDiv marginTop">
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyNameInput">Company Name</label>
                            <input type="text" class="form-control" name="companyNameInput" id="field_companyNameInput"
                                    [(ngModel)] = "company.name" #companyNameField="ngModel" required pattern="[A-Z,a-z]+" (focus)="Typing(0,true)" (blur)="Typing(0,false)" />
                            <div [hidden]="companyNameField.valid || isTyping[0]" class="alert alert-danger" >
                                <span>Company name is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyCityInput">Company City</label>
                            <input type="text" class="form-control" name="companyCityInput" id="field_companyCityInput"
                                    [(ngModel)] = "company.city" #companyCityField="ngModel" required pattern="[A-Z,a-z]+" (focus)="Typing(1,true)" (blur)="Typing(1,false)" />
                            <div [hidden]="companyCityField.valid || isTyping[1]" class="alert alert-danger" >
                                <span>Company city is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyCityCodeInput">Company City Code</label>
                            <input type="text" class="form-control" name="companyCityCodeInput" id="field_companyCityCodeInput"
                                    [(ngModel)] = "company.cityCode" #companyCityCodeField="ngModel" required pattern="[0-9]{2}-[0-9]{3}" (focus)="Typing(2,true)" (blur)="Typing(2,false)" />
                            <div [hidden]="companyCityCodeField.valid || isTyping[2]" class="alert alert-danger" >
                                <span>City code is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyPhoneNumberInput">Phone Number</label>
                            <input type="number" class="form-control" name="companyPhoneNumberInput" id="field_companyPhoneNumberInput"
                                    [(ngModel)] = "company.phoneNumber" #companyPhoneNumberField="ngModel" required pattern="([0-9]{9})" (focus)="Typing(3,true)" (blur)="Typing(3,false)" />
                            <div [hidden]="companyPhoneNumberField.valid || isTyping[3]" class="alert alert-danger" >
                                <span>Company phone number is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyEmailAdressInput">Email Adress</label>
                            <input type="text" class="form-control" name="emailAdressInput" id="field_companyEmailAdressInput"
                                    [(ngModel)] = "company.emailAdress" #companyEmailAdressField="ngModel" required pattern="(^[a-z, A-Z, 0-9]+@[a-z, A-Z, 0-9]+\.[a-z,A-Z,0-9]{1,})" (focus)="Typing(4,true)" (blur)="Typing(4,false)" />
                            <div [hidden]="companyEmailAdressField.valid || isTyping[4]" class="alert alert-danger" >
                                <span>Email adress is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyLatitudeInput">Latitude</label>
                            <input type="number" class="form-control" name="companyLatitudeInput" id="field_companyLatitudeInput"
                                    [(ngModel)] = "company.latitude" #companyLatitudeField="ngModel"  pattern="[0-9]{1,}" (focus)="Typing(5,true)" (blur)="Typing(5,false)" />
                            <div [hidden]="companyLatitudeField.valid || isTyping[5]" class="alert alert-danger" >
                                <span>Latitude is invalid!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label"  for="field_companyLongitudeInput">Longitude</label>
                            <input type="number" class="form-control" name="companyLongitudeInput" id="field_companyLongitudeInput"
                                    [(ngModel)] = "company.longitude" #companyLongitudeField="ngModel"  pattern="[0-9]{1,}" (focus)="Typing(6,true)" (blur)="Typing(6,false)" />
                            <div [hidden]="companyLongitudeField.valid || isTyping[6]" class="alert alert-danger" >
                                <span>Longitude is invalid!</span>
                            </div>
                        </div>                                                                                    
                    </div>
                </div>        
            </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" [disabled]="form.form.invalid" class="btn btn-primary" (click)="onSubmit(company)" data-dismiss="modal">
            <span class="fa fa-save"></span>&nbsp;<span >Save</span>
          </button>            
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
