.greenColor{
    color:green;
}

.blackColor{
    color:black;
}

.testWidth{
    width:30%;
    height: 60px;
 //   vertical-align: middle;
}

.floatLeft{
  float: left;
  height: 60px;
}

.marginLeft{
    margin-left: 40px;
}

.clearBoth{
    clear: both;
}

.borderTest{
    border-style: solid;
    border-width: 2px;
    border-color: black;    
}

.textColor{
    color: white;
}

.noneMargin{
    margin: 0px;
}

.Hidden{
    visibility: hidden;    
}

.element{
    height: 20vh; /* For 100% screen height */
    width:  50vw; /* For 100% screen width */
}

div.ext-box { display: table;}
div.int-box { display: table-cell; vertical-align: middle; text-align: center;}

#timeBox{
    width: 60%;
}

#iconBox{
    width: 20%;
}

#issueBox{
 //   display: table;
    float: left;    
    width: 20%;
    height: 60px;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis;
}

#longIssue{
    white-space: nowrap; 
    overflow: hidden;       
    text-overflow: ellipsis;
}
/*
@media screen and (min-width: 1025px){
    #shortIssue{
        display: none;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #longIssue{
        display: none;
    }
}
*/
@media screen and (min-width: 425px) and (max-width: 768px) {
    #issueBox{
        display: none;
    }
}

@media screen and (max-width: 424px) {
    #issueBox{
        display: none;
    }
   
    #iconBox{
        position: relative;
        left: 35vw;
        top: 50%;
//        left:0px;
//        top:40px;
        z-index: 99;
        height: 30%;
        width: 15vw; 
        border-width: 0px;
        padding: 0px;       
        //display: none;
    }
    #timeBox{
        position: absolute;
        width: 50vw;
        z-index: 98;        
        //display: none;
    }      
    /*
    #contBox{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;         
    }

    #iconBox{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end; 
    }
    #timeBox{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end; 
        //display: none;
    } */  
}

// Tooltip

#test{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

#smt{
    margin: 20px;
    border: 3px;
    background-color: whitesmoke;
    height:40px;
    width: 100px;
}

#tooltip{
    background-color: rgb(102, 97, 97);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;    
    color: whitesmoke;
    position: absolute;
    left: 0;
    top: 0;    
  //  visibility: hidden;
}


// classes to center stuff
.parent {
  display: flex;
  height: 300px; /* Or whatever */
  background-color: green;
}

.child {
  width: 100px;  /* Or whatever */
  height: 100px; /* Or whatever */
  //margin: auto;  /* Magic! */
  background-color: red;
}

.parentTest{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 300px; /* Or whatever */
    background-color: green;    
}