
    <form #form = "ngForm" (ngSubmit)="onSubmit(selectedEmployee)">
        <div class="mainBox">
            <div class="col-md-5 centerDiv floatLeft">
                    <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="selectedEmployee.$key">            
                <div class="form-group">
                    <label class="form-control-label"  for="field_nameInput">Name</label>
                    <input type="text" class="form-control" name="nameInput" id="field_nameInput"
                            [(ngModel)] = "selectedEmployee.name" #name="ngModel" required pattern="[A-Z,a-z]+" (focus)="Typing(0,true)" (blur)="Typing(0,false)" />
                    <div [hidden]="name.valid || isTyping[0]" class="alert alert-danger" >
                        <span>Name is invalid!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_surnameInput">Surname</label>
                    <input type="text" class="form-control" name="surnameInput" id="field_surnameInput"
                            [(ngModel)] = "selectedEmployee.surname" #surname="ngModel" required pattern="[A-Z,a-z]+" (focus)="Typing(1,true)" (blur)="Typing(1,false)" />
                    <div [hidden]="surname.valid || isTyping[1]" class="alert alert-danger" >
                        <span>Surname is invalid!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_phoneNumberInput">Phone Number</label>
                    <input type="text" class="form-control" name="phoneNumberInput" id="field_phoneNumberInput"
                            [(ngModel)] = "selectedEmployee.phoneNumber" #phoneNumber="ngModel" required pattern="[0-9]{9}" (focus)="Typing(2,true)" (blur)="Typing(2,false)" />
                    <div [hidden]="phoneNumber.valid || isTyping[2]" class="alert alert-danger" >
                        <span>Phone number is invalid!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_emailAdressInput">Email Adress</label>
                    <input type="text" class="form-control" name="emailAdressInput" id="field_phoneNumberInput"
                            [(ngModel)] = "selectedEmployee.emailAdress" #emailAdress="ngModel" required pattern="(^[a-z, A-Z, 0-9]+@[a-z, A-Z, 0-9]+\.[a-z,A-Z,0-9]{1,})" (focus)="Typing(3,true)" (blur)="Typing(3,false)" />
                    <div [hidden]="emailAdress.valid || isTyping[3]" class="alert alert-danger" >
                        <span>Email adress is invalid!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label"  for="field_genderInput">Gender</label>
                    <select class="form-control" id="field_genderInput" name="gender" [(ngModel)]="selectedEmployee.gender" (focus)="Typing(4,true)" (blur)="Typing(4,false)"
                    #gender="ngModel" required>
                        <option value=""></option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                    </select>  
                    <div [hidden]="(gender.value!='') || isTyping[4]" class="alert alert-danger" >
                        <span>Gender is required</span>
                    </div>
                </div>                  
                <button type="submit" [disabled]="form.form.invalid" class="btn btn-primary">
                    <span class="fa fa-save"></span>&nbsp;<span >Save</span>
                </button>
                <br>
            </div>
            <div class="col-md-7 floatLeft">
                <table class="table table-sm table-hover table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Email</th>
                        <th></th>                                                  
                    </tr>
                    <tr *ngFor="let employee of employeeList">
                        <td>{{employee.name}}</td>
                        <td>{{employee.surname}}</td>
                        <td>{{employee.emailAdress}}</td>                        
                        <td>
                            <a class="btn">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a class="btn">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>        
    </form>