/* You can add global styles to this file, and also import other style files */
//@import "~bootswatch/dist/yeti/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
//@import "~bootswatch/dist/yeti/_bootswatch.scss";

body{
  //  background-color: #AAAAAA;
 // background-color: #f8f9ec;
}

// resolution: 1650 x 1050
.footerClass{
  background-color: #BBBBBB;
  position: fixed;
  vertical-align: middle;
  left: 0;
  bottom: 0;
  width: 100%;
}

.alignLeft{
  text-align: left;
}

.colorWhite{
  color: white;
  padding-right: 5px;
}

.verticalAlignCenter{
  vertical-align: center;
  display: flex;
  justify-content: center;
}

.floatLeft{
  float: left;
}

.centerDiv{
  margin: auto;
  height: 80%;
}

.centerDiv{
  margin: auto;
  height: 80%;
}
//old color: EAEDED
.mainBox{
  height: 750px;
  background-color:#f2f3e9;
  padding: 20px;
}

.marginTop{
  padding-top: 150px;
}

.padding{
  padding: 50px;
}